# echo "This is envrc"

# for anyenv
if [ -d $HOME/.anyenv ]; then
    export PATH=$HOME/.anyenv/bin:$PATH
    eval "$(anyenv init -)"
fi

# # for nodebrew
# export PATH=$HOME/.nodebrew/current/bin:$PATH
# 
# # for rbenv
# eval "$(rbenv init -)"
# 
# # for goenv
# eval "$(goenv init -)"
# 
# # for Deno
# export PATH=$HOME/.deno/bin:$PATH
# 
# # alias
# alias brewdump='brew bundle dump --force'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias ..='cd ..'

