# echo "This is envrc"

# for nodebrew
export PATH=$HOME/.nodebrew/current/bin:$PATH

# for rbenv
eval "$(rbenv init -)"

# for goenv
eval "$(goenv init -)"

# for Deno
export PATH=$HOME/.deno/bin:$PATH

# alias
alias brewdump='brew bundle dump --force'
