# echo "This is envrc"

# alias
# alias brewdump='brew bundle dump --force'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias ..='cd ..'

# go path
# export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin
