# echo "This is envrc"

# alias
# alias brewdump='brew bundle dump --force'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias ..='cd ..'

function curlp() {
  while :; do curl -LI $1 -o /dev/null -w '%{http_code}\n' -s; sleep 3; done
}

function codef() {
  local repo=$(ghq list | fzf)
  #ghq list | fzf | read -l repo
  [[ -n $repo ]] && code $(ghq root)/$repo
}

# fzf option
export FZF_DEFAULT_OPTS='--height 40% --reverse --border'

# go path
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin
