# echo "This is envrc"

# alias
# alias brewdump='brew bundle dump --force'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias ..='cd ..'

curlp() {
  while :; do curl -LI $1 -o /dev/null -w '%{http_code}\n' -s; sleep 3; done
}

# go path
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin
