# echo "This is envrc"

# for tfenv
if [ -d $HOME/.tfenv ]; then
  export PATH=$HOME/.tfenv/bin:$PATH
fi

# fzf option
export FZF_DEFAULT_OPTS='--height 40% --reverse --border'

# go path
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin

# alias
# alias brewdump='brew bundle dump --force'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias ..='cd ..'
alias k='kubectl'
alias a='aws-vault'
alias c='clear'

# custom functions

function curlp() {
  while :; do curl -LI $1 -o /dev/null -w '%{http_code}\n' -s; sleep 3; done
}

# ghq & code
function ghc() {
  local repo=$(ghq list | fzf)
  #ghq list | fzf | read -l repo
  [[ -n $repo ]] && code $(ghq root)/$repo
}

# ghq & hub api & hub browse
function ghb() {
  [[ $# -eq 0 ]] && (echo No arguments. && exit 1)
  local repo=$(__get_github_repo $@)
  [[ -n $repo ]] && hub browse $repo
}

function __get_github_repo() {
  local repo
  while getopts "ls:u:o:" OPT
  do
    case $OPT in
      l)
        repo=$(ghq list | fzf | cut -d '/' -f 2,3);;
      s)
        repo=$(
          hub api -X GET search/repositories -F q=$OPTARG | \
          jq -r '.items[].full_name' | fzf
        );;
      u)
        repo=$(
          hub api users/$OPTARG/repos --paginate | \
          jq -r '.[].full_name' | fzf
        );;
      o)
        repo=$(
          hub api --cache 3600 orgs/$OPTARG/repos --paginate | \
          jq -r '.[].full_name' | fzf
        );;
    esac
  done
  echo $repo
}

#function __search_github_repos() {
#  hub api -X GET search/repositories -F q=$1 | jq -r '.items[].full_name'
#}
#
#function __list_github_user_repos() {
#  hub api users/$1/repos --paginate | jq -r '.[].full_name'
#}
